<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} %p %C{1} %m%n</Property>
        <Property name="APP_LOG_ROOT">/Users/yilmaznaci.aslan/repositories/berlinTerminFinder/logs</Property>
        <Property name="ELASTICSEARCH_URL">http://ec2-54-147-80-143.compute-1.amazonaws.com:9200/logs/_doc</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <!--
            <JSONLayout compact="true" complete="false" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true">
                 <KeyValuePair key="elementDescription" value="${ctx:elementDescription}" />
                 <KeyValuePair key="seleniumProcess" value="${ctx:seleniumProcess}" />
                 <KeyValuePair key="seleniumStatus" value="${ctx:seleniumProcess}" />
                 <KeyValuePair key="formId" value="${ctx:formId}" />
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
            </JSONLayout>
            -->
        </Console>


        <RollingFile name="infoLogFile" fileName="${APP_LOG_ROOT}/search-info.log"
                     filePattern="${APP_LOG_ROOT}/search-info-%d{yyyy-MM-dd}-%i.log" >
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="195000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="infoLogFileJson" fileName="${APP_LOG_ROOT}/search-info.json"
                     filePattern="${APP_LOG_ROOT}/search-info-%d{yyyy-MM-dd}-%i.json" >
            <JSONLayout compact="false" complete="true" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true">
                <!--  Project properties -->
                <KeyValuePair key="seleniumProcess" value="${ctx:seleniumProcess}" />
                <KeyValuePair key="formId" value="${ctx:formId}" />
            </JSONLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="195000KB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <Http name="elasticsearch" url="${ELASTICSEARCH_URL}">
            <JSONLayout compact="true" complete="false" eventEol="true" properties="true" stacktraceAsString="true" includeTimeMillis="true">
                <!--  Project properties -->
               <!-- <KeyValuePair key="elementDescription" value="${ctx:elementDescription}" />
                <KeyValuePair key="seleniumProcess" value="${ctx:seleniumProcess}" />
                <KeyValuePair key="seleniumStatus" value="${ctx:seleniumProcess}" />
                <KeyValuePair key="formId" value="${ctx:formId}" />
                -->
                <KeyValuePair key="timestamp" value="$${date:yyyy-MM-dd'T'HH:mm:ss.SSSZ}" />
            </JSONLayout>
        </Http>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <!-- <AppenderRef ref="infoLogFile"/>     -->
            <!-- <AppenderRef ref="infoLogFileJson"/> -->
            <AppenderRef ref="elasticsearch"/>
        </Root>

    </Loggers>

</Configuration>